* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(20deg, rgb(75, 6, 36) 0%, rgba(148, 187, 233, 1) 100%);
    height: 110vh;
}
.header {
    text-align: center;
    color: white;
    font-size: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: auto;
    margin: 0 auto;
}
.buttons {
    text-align: center;
    height: 75px;
    width: 40%;
    height: 100%;
}
.button {
    font-size: 20px;
    padding: 10px 20px;
}

.selected {
    background-color: black;
    color: white;
    transition: 0.2s;
}
.right-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    margin-left: 20px;
}
.wrong-hits p span {
    color: rgb(138, 22, 22);
}
.timer {
    position: relative;
    width: 100%;
    height: 100%;
}

table {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 55px;
    border-spacing: 10px;
}

td {
    border: 1px solid gray;
    text-align: center;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: aliceblue;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
}
td:hover {
    filter: brightness(1.3);
    transition: 0.1s;
}
td.marked:hover {
    filter: brightness(1);
}

.marked {
    background: radial-gradient(rgb(194, 216, 187) 0%, rgba(148, 187, 233, 1) 100%);
    color: gray;
    opacity: 0.6;
    border-radius: 50%;
}
.rotate {
    transform: rotate(360deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.next-number {
    border: 1px solid white;
    border-radius: 12px;
    font-size: 10px;
    width: 15%;
    opacity: 100%;
    transition: 0.5s;
}
.next-number p span {
    font-size: 60px;
}
.hidden {
    opacity: 0;
}
